TNP_NOTIFICATION_ALERT.json
{
  "name": "TNP_NOTIFICATION_ALERT",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            },
            {
              "mode": "everyX",
              "value": 20,
              "unit": "minutes"
            }
          ]
        },
        "simple": false,
        "maxResults": "={{ 15 }}",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        -832,
        0
      ],
      "id": "d5ace73f-41df-46a1-b2ec-c95b9d6ee826",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "v5ohjp9JQZBz9psR",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c755681-2508-4064-a9b6-349b68db3fb7",
              "name": "Thread_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "a7b72209-f165-48f2-83d3-b4954ae0a10b",
              "name": "=MainContent",
              "value": "={{ $json.messages.map(m => m.text || m.snippet).join('\\n\\n---\\n\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -592,
        -784
      ],
      "id": "b3173447-a1b6-49e3-827f-71707b58e3bf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a TnP data extractor. Read the message and extract exactly 6 fields.\n\nMessage: {{ $json.text }}\n\n\nRules:\n- Output ONLY the 7 lines below, in this exact format.\n- No greeting, no preamble, no explanation, no notes — just the 7 lines.\n- Firstly carefully read the content do u think if it is about any company offering job or internship then output true in Offering_Job else if it random email like guidelines or anything else just output false.\n- \"Job Title\" in the message means Role.\n- If a field is not in the message, write \"Not Mentioned\". Do not guess.\n- CGPA must be a number only (e.g. 7.5).\n\nCompany - <value>\nPlace of Posting - <value>\nCTC/Stipend - <value>\nRole - <value>\nDuration - <value>\nCGPA - <value>\nOffering_Job = <value>\n\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        -16
      ],
      "id": "1e34636c-2d23-4b8a-ac5d-1d014918d044",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 50
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        688,
        400
      ],
      "id": "dff40921-3216-44ab-be26-8c3b9b9cac0c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "KknLXRSEiuICdQvi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "NOT NEEDED"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        592,
        160
      ],
      "id": "2a92f163-a91e-4730-9cd7-17ab20fa89d6",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"company\": \"\",\n  \"place_of_posting\": \"\",\n  \"ctc_stipend\": \"\",\n  \"role\": \"\",\n  \"duration\": \"\",\n  \"cgpa\": \"\" ,\n  \"Offering_Job\": \"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1008,
        208
      ],
      "id": "ddb65b01-35de-4d0a-8119-5b5ac98c78c8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "errorMessage": "Already exists in the database "
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1968,
        -656
      ],
      "id": "b0625bac-50b5-4666-8550-08570bff7b08",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1524676422516477952",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1524676423518785538",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/1524676422516477952/1524676423518785538"
        },
        "content": "=Hello here  are the details of the company participating in campus recruitment - \n\n1.Company - {{ $('AI Agent').item.json.output.company }}\n2.Posting - {{ $('AI Agent').item.json.output.place_of_posting }}\n3.CTC/Stipend - {{ $('AI Agent').item.json.output.ctc_stipend }}\n4.Role - {{ $('AI Agent').item.json.output.role }}\n5.Duration-{{ $('AI Agent').item.json.output.duration }}\n6.CGPA CAP - {{ $('AI Agent').item.json.output.cgpa }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        2176,
        0
      ],
      "id": "1a62ddf5-098b-4f3b-9fa7-7502468b4d50",
      "name": "Send an Alert",
      "webhookId": "07b8b9c4-915a-4b2b-abaf-c75fae2eca71",
      "credentials": {
        "discordBotApi": {
          "id": "vAiN9z3InV47P9yf",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ile71xtPu9IVTXZL1smDdrxX7Tt-5JICJ_KUSlX8SbU",
          "mode": "list",
          "cachedResultName": "TNP_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ile71xtPu9IVTXZL1smDdrxX7Tt-5JICJ_KUSlX8SbU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ile71xtPu9IVTXZL1smDdrxX7Tt-5JICJ_KUSlX8SbU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Comp_nm": "={{ $('AI Agent').item.json.output.company }}",
            "CTC/STIP": "={{ $('AI Agent').item.json.output.ctc_stipend }}",
            "Duration": "={{ $('AI Agent').item.json.output.duration }}",
            "CGPA": "={{ $('AI Agent').item.json.output.cgpa }}",
            "Place of posting": "={{ $('AI Agent').item.json.output.place_of_posting }}",
            "Role": "={{ $('AI Agent').item.json.output.role }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Comp_nm",
              "displayName": "Comp_nm",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CTC/STIP",
              "displayName": "CTC/STIP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Role",
              "displayName": "Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Place of posting",
              "displayName": "Place of posting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CGPA",
              "displayName": "CGPA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2144,
        -384
      ],
      "id": "915b79b8-b8d4-4219-9a02-c0e0cdd6900c",
      "name": "Update_Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4CnmMxUdLd0OJLXN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1816cf13-f0f8-4e7b-8929-912f7d485add",
              "leftValue": "={{ $json.address[0] }}",
              "rightValue": "tnpcell@nsitonline.in",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        0
      ],
      "id": "9e28d26d-c1b9-4def-ab83-7c56bf0aba11",
      "name": "Checking_mail_sender"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Get a message').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.4,
      "position": [
        800,
        272
      ],
      "id": "7686de50-dea4-4588-b157-5e2c2f4b5997",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "njMCtB2Mn5kyQtIP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ile71xtPu9IVTXZL1smDdrxX7Tt-5JICJ_KUSlX8SbU",
          "mode": "list",
          "cachedResultName": "TNP_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ile71xtPu9IVTXZL1smDdrxX7Tt-5JICJ_KUSlX8SbU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ile71xtPu9IVTXZL1smDdrxX7Tt-5JICJ_KUSlX8SbU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        -32
      ],
      "id": "1d888fc8-2935-4816-a1e6-a7010b1c13ba",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4CnmMxUdLd0OJLXN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "35b62489-3922-490e-a57e-a57c924edc7e",
              "leftValue": "={{ $('Get row(s) in sheet').all().some(row => row.json.Comp_nm.trim().toLowerCase() === $('AI Agent').item.json.output.company.trim().toLowerCase()) }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1792,
        -400
      ],
      "id": "b134ed9b-d83e-4d88-804b-7684b30ee0f6",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "simple": false,
        "options": {
          "returnOnlyMessages": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -608,
        0
      ],
      "id": "0ddbe5fe-4fa4-46a2-a6e9-2084fc5cdad6",
      "name": "Get a thread",
      "webhookId": "52daed10-6c65-41cc-97cd-3d21fbbd3cad",
      "credentials": {
        "gmailOAuth2": {
          "id": "v5ohjp9JQZBz9psR",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages ",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -416,
        0
      ],
      "id": "92036043-e238-446e-8d12-e8c4706a72fa",
      "name": "Split Out",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -176,
        0
      ],
      "id": "dd54e042-cbb6-43ec-b879-ddb3d16948b7",
      "name": "Get a message",
      "webhookId": "4c756c87-1d98-4f39-a081-b30cf4de3ae4",
      "credentials": {
        "gmailOAuth2": {
          "id": "v5ohjp9JQZBz9psR",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            },
            {
              "fieldToAggregate": "from.value[0].address"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        80,
        0
      ],
      "id": "eb2bb7f7-b757-4dcc-b37c-413687c4da84",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1600,
        -400
      ],
      "id": "d81c920b-06d5-4327-8dc5-af3305bfd01d",
      "name": "Merge"
    },
    {
      "parameters": {
        "content": "**Extra Fields**",
        "height": 240,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -624,
        -864
      ],
      "typeVersion": 1,
      "id": "94d9548f-e198-4ece-9e8e-4454c1e50355",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "271dd2c6-a621-4e4a-9ecd-538a60381369",
              "leftValue": "={{ $json.output.Offering_Job }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1040,
        -16
      ],
      "id": "f63b397f-9dc5-4631-a63e-02042f54a6b2",
      "name": "If1"
    },
    {
      "parameters": {
        "errorMessage": "Not a company_Recruitment message"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1344,
        272
      ],
      "id": "a0a36a18-fc36-48d7-9b6c-390f7d120dee",
      "name": "Stop and Error2"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Update_Data": {
      "main": [
        []
      ]
    },
    "Checking_mail_sender": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update_Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send an Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Checking_mail_sender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "e9089d5c-a3bd-4bf8-bf05-29405b300175",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3b438fb97b99024eeaea4e45b3f77efd1b99795353f4854c225ab44837309672"
  },
  "nodeGroups": [],
  "id": "pnXhJNQDfgSYSDyg",
  "tags": []
}